html {
  overflow: hidden;
}

.landing {
  background-image: url("media/Gradient6.jpg");
  height: 70vh;
}

.about {
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  transform: skewY(-5deg);
  background-color: white;
  margin-top: -15vh;
  min-height: 100vh;
}

.about-container {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  transform: skewY(5deg);
  margin-top: -65vh;
}

.title,
.subtitle {
  color: white;
}

.header > img {
  max-width: 10%;
}

.arrow > svg {
  color: #39143a;
}

@media only screen and (max-width: 1024px) {
  .landing {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("media/Gradient6.jpg");
  }
  .about,
  .about-container,
  .container > img {
    display: none;
  }
  .header {
    text-align: center;
    margin-top: 20vh;
  }
}
