html {
  overflow: hidden;
}

p {
  color: white;
}

.navbar-item > img {
  padding-right: 10px;
}

.header > img {
  max-width: 25%;
}

.title,
.subtitle {
  color: white;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
}

.navbar-item {
  color: white;
}

.hero {
  background-image: url("media/Gradient4.jpg");
  background-size: cover;
  background-position: top;
}

.arrow > svg {
  color: #00d1b2;
}
