.landing {
  background-image: url("media/Gradient5.jpg");
  background-size: cover;
  background-position: top;
  height: 90vh;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.arrow-down {
  width: 100vw;
  height: 15vh;
  border-left: 50vw solid white;
  border-right: 50vw solid white;
  border-top: 15vh solid transparent;
}

.about {
  min-height: 100vh;
}

.column {
  min-height: 75vh;
}

@media screen and (orientation: portrait) {
  .header {
    margin-top: 15%;
  }
}
