html {
  /* overflow-x: hidden; */
}

body {
  background-image: url("media/Gradient3.jpg");
  background-size: cover;
  background-position: top;
  overflow-x: hidden;
}

.navbar-item > img {
  padding-right: 10px;
}

.header-image > img {
  margin: auto;
  margin-bottom: -10vh;
  margin-top: -15vh;
}

.header {
  /* padding-bottom: 10vh; */
  margin-bottom: 20px;
}

.navbar-item {
  color: white;
}

@-webkit-keyframes rotate-cw /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-cw {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-ccw /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-ccw {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotate-cw {
  -webkit-animation: rotate-cw 15s linear infinite;
  -moz-animation: rotate-cw 15s linear infinite;
  -ms-animation: rotate-cw 15s linear infinite;
  -o-animation: rotate-cw 15s linear infinite;
  animation: rotate-cw 15s linear infinite;
  pointer-events: none;
}

.arrow > svg {
  color: rgb(27, 21, 16);
}

@media screen and (max-width: 1024px) {
  .overlay > img {
    --area: 512px;
  }
}
