@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrow {
  cursor: pointer;
  position: absolute;

  z-index: 10000;
}

.arrow > svg {
  cursor: pointer;
}

.arrow-left {
  --area: 80px;
  height: var(--area);
  width: var(--area);
  top: calc(85% - calc(var(--area) / 2));
  left: calc(10% - calc(var(--area) / 2));
}

.arrow-right {
  --area: 80px;
  height: var(--area);
  width: var(--area);
  padding-left: 10px;
  top: calc(85% - calc(var(--area) / 2));
  left: calc(90% - calc(var(--area) / 2));
}
